paddleocr
paddlepaddle==3.0.0
openpyxl
pandas
shapely
scikit-image
pyclipper
lmdb
tqdm
numpy
rapidfuzz
opencv-python
opencv-contrib-python
cython
Pillow
pyyaml
requests
albumentations
albucore
packaging